<!-- views/index.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Hello World, the Sinatra Way</title>
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/app.css" />
</head>
<body>
  <h1>Hello World, the Sinatra Way</h1>
  <p>
    If I can make it there<br/>
    I'll make it anywhere<br/>
    It's up to you<br/>
    New York, New York
  </p>
  <footer>
    <img src="/images/sinatra.png" />
  </footer>
</body>
</html>
