!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/app.css"}

  %body
    %section#content
      = yield

    %footer
      %a{href: "https://blog.pabuisson.com/2018/05/a-la-decouverte-de-sinatra-3-utiliser-sass-avec-sinatra/", title: "À la découverte de Sinatra #3 : utiliser SASS avec Sinatra | Pierre-Adrien Buisson : le Blog !"}
        À la découverte de Sinatra #3
      par Pierre-Adrien Buisson

      %br

      Lyrics from
      %a{href: "http://metrolyrics.com", title: "Metro Lyrics"}
        Metro Lyrics
